name: slide
on:
  workflow_dispatch:
#  push:
#    branches:
#      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all  # 启用所有架构模拟

      - name: Set up Docker Buildx 
        uses: docker/setup-buildx-action@v3 
        with:
          version: latest  # 强制最新版 Buildx
          driver-opts: env.BUILDKIT_STEP_LOG_MAX_SIZE=104857600
      
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./Dockerfile-slide
          push: true
          tags: taoxg/slide
          platforms: linux/amd64,linux/arm64,linux/arm/v7
