name: pansou-check
on:
  workflow_dispatch:
#  push:
#    branches:
#      - main

jobs:
  build:
    runs-on: ubuntu-latest 
    steps:
      - name: Checkout code
        uses: actions/checkout@v4 
        with:
          fetch-depth: 0  # 获取完整历史记录用于版本检测
 
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all  # 启用所有架构模拟

      - name: Set up Docker Buildx 
        uses: docker/setup-buildx-action@v3 
        with:
          version: latest  # 强制最新版 Buildx
          driver-opts: env.BUILDKIT_STEP_LOG_MAX_SIZE=104857600 

      - name: Log in to Docker Hub 
        uses: docker/login-action@v3 
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
 
      - name: Build and push Docker images 
        uses: docker/build-push-action@v5
        with:
          context: ./pansou-check
          file: ./pansou-check/Dockerfile
          push: true
          tags: taoxg/pansou-check
          platforms: linux/amd64,linux/arm64.linux/arm/v7
          # 缓存优化
          cache-from: type=registry,ref=taoxg/pansou-check:buildcache
          cache-to: type=registry,ref=taoxg/pansou-check:buildcache,mode=max
          pull: true  
          provenance: false  # 关闭溯源（减少模拟负担）
