name: DPanel-lite
 
on:
  workflow_dispatch:
#  push:
#    branches:
#      - main 
#    tags:
#      - 'v*'  # 添加标签触发支持 
 
jobs:
  build:
    runs-on: ubuntu-latest 
    steps:
      - name: Checkout code
        uses: actions/checkout@v4 
        with:
          fetch-depth: 0  # 获取完整历史记录用于版本检测
 
      - name: Set up Docker Buildx 
        uses: docker/setup-buildx-action@v3 
 
      - name: Log in to Docker Hub 
        uses: docker/login-action@v3 
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
 
      - name: Determine version 
        id: version
        run: |
          # 尝试从VERSION文件获取版本
          if [ -f "VERSION" ]; then
            echo "VERSION=$(cat VERSION)" >> $GITHUB_OUTPUT
          # 尝试从Git标签获取版本 (格式 v1.2.3)
          elif [ -n "${{ github.ref_name }}" ] && [[ "${{ github.ref_name }}" == v* ]]; then 
            echo "VERSION=${GITHUB_REF_NAME#v}" >> $GITHUB_OUTPUT
          # 使用提交哈希作为后备方案 
          else
            echo "VERSION=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
          fi 
          
      - name: Build and push Docker images 
        uses: docker/build-push-action@v5 
        with:
          context: .
          push: true 
          tags: |
            taoxg/dpanel:lite
            taoxg/dpanel:${{ steps.version.outputs.VERSION }}
          platforms: linux/amd64
          build-args: |
            APP_VERSION=${{ steps.version.outputs.VERSION }}
